<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perímetro o área</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/estilos1.css">
</head>

<body>

  <nav class="contenedor-nav">
    <div class="nav">
      <a class="lista-juegos" href="../index.html">Inicio</a>
      <a class="lista-juegos" href="palabra.html">Tu palabra</a>
      <a class="lista-juegos" href="maestros.html">Quiz Maestros</a>
      <a class="lista-juegos" href="temperatura.html">Conversor de temperaturas</a>
      <a class="lista-juegos" href="triangulo.html">Tipos de triangulos</a>
      <a class="lista-juegos" href="formularioValidaciones.html">Formulario</a>
    </div>
  </nav>

  <div class="contenedor-grid">
    <div class="contenedor-figuras">
      <!---------------------------------------------------------------------- CÍRCULO ---------------------------------------------------------------------->
      <div class="iniciador">
        <Label class="fig">Círculo</Label>
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#ModalAbrir1">
          Área
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#ModalAbrir2">
          Perímetro
        </button>
      </div>

      <!-- Modal -->

      <div class="modal fade" id="ModalAbrir1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Área Círculo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese el radio de su círculo</label>
              <input type="number" id="radioCir">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionCirculo">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

      

      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Perímetro Círculo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese el radio de su círculo</label>
              <input type="number" id="periCirculo">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionCirculo2">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!---------------------------------------------------------------------- CUADRADO ---------------------------------------------------------------------->
      <div class="iniciador">
        <Label class="fig">Cuadrado</Label>
        <!-- Button trigger modal -->
        <button type="button" class="btn a" data-toggle="modal" data-target="#ModalAbrir3">
          Área
        </button>
        <button type="button" class="btn a" data-toggle="modal" data-target="#ModalAbrir4">
          Perímetro
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Área cuadrado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <LABEl>Ingrese los lados de su cuadrado por favor</LABEl>
              <input type="number" id="areaCuadrado">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionCuadrado">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

    

      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Perímetro cuadrado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <LABEl>Ingrese los lados de su cuadrado por favor</LABEl>
              <input type="number" id="periCuadrado">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionCuadrado2">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

      <br>


      <!---------------------------------------------------------------------- RECTANGULO ---------------------------------------------------------------------->
      <div class="iniciador">
      <Label class="fig">Rectángulo</Label>
      <!-- Button trigger modal -->
      <button type="button" class="btn" data-toggle="modal" data-target="#ModalAbrir5">
        Área
      </button>
      <button type="button" class="btn" data-toggle="modal" data-target="#ModalAbrir6">
        Perímetro
      </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Área Rectángulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese la base de su rectángulo</label>
              <input type="number" id="baseRectangulo">
              <label for="">Ingrese la altura de su rectángulo</label>
              <input type="number" id="alturaRectangulo">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionRectangulo">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

     

      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Perímetro Rectángulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese la base de su rectángulo</label>
              <input type="number" id="baseRectangulo1">
              <label for="">Ingrese la altura de su rectángulo</label>
              <input type="number" id="alturaRectangulo1">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionRectangulo2">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

      <br>
      <!---------------------------------------------------------------------- TRIANGULO ---------------------------------------------------------------------->
      <div class="iniciador">
      <Label class="fig">Triangulo</Label>
      <!-- Button trigger modal -->
      <button type="button" class="btn a" data-toggle="modal" data-target="#ModalAbrir7">
        Área
      </button>
      <button type="button" class="btn a" data-toggle="modal" data-target="#ModalAbrir">
        Perímetro
      </button>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Área Triangulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese la base de su Triangulo</label>
              <input type="number" id="baseTriangulo">
              <label for="">Ingrese la altura de su Triangulo</label>
              <input type="number" id="alturaTriangulo">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionTriangulo">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>

     

      <!-- Modal -->
      <div class="modal fade" id="ModalAbrir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Perímetro Triangulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="">Ingrese el lado de su triangulo</label>
              <input type="number" id="ladoTriangulo">
              <label for="">Ingrese el lado de su triangulo</label>
              <input type="number" id="ladoTriangulo2">
              <label for="">Ingrese el lado de su triangulo</label>
              <input type="number" id="ladoTriangulo3">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="operacionTriangulo2">Hacer operación</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../js/operacionesFiguras.js"></script>
</body>

</html>