<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docentes activos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    
    <nav class="contenedor-nav">
        <div class="nav">
            <a class="lista-juegos" href="../index.html">Inicio</a>
            <a class="lista-juegos" href="palabra.html">Tu palabra</a>
            <a class="lista-juegos" href="figurasBásicas.html">Calculadora de figuras</a>
            <a class="lista-juegos" href="temperatura.html">Conversor de temperaturas</a>
            <a class="lista-juegos" href="triangulo.html">Tipos de triangulos</a>
            <a class="lista-juegos" href="formularioValidaciones.html">Formulario</a>
        </div>
    </nav>

<div class="contenedor-grid">
    <div class="contenedor-maestros">
        <label for="">Seleccione su maestro</label>
        <Select id="nombre">
            <option value="Duarte">Adriana</option>
            <option value="Forero">Carolina</option>
            <option value="Baquero">Luis</option>
            <option value="Galindo">Fernando</option>   
            <option value="Castillo">Yaneth</option>
            <option value="Espitia">Jonathan</option>
            <option value="Cabrera">Tatiana</option>
        </Select>
    
        
        <label for="">Seleccione el apellido de su maestro</label>
        <Select id="apellido">
            <option value="Baquero">Baquero</option>
            <option value="Cabrera">Cabrera</option>
            <option value="Castillo">Castillo</option>
            <option value="Duarte">Duarte</option> 
            <option value="Espitia">Espitia</option>
            <option value="Forero">Forero</option>
            <option value="Galindo">Galindo</option>  
        </Select>
     

        <label for="">Seleccione la materia de su maestro</label>
        <Select id="materia">
           <option value="Baquero">Cultura Fisica</option>
            <option value="Cabrera">Metricas de Calidad Y Javascript</option>
            <option value="Castillo">Gestion Ambiental</option>
            <option value="Duarte">Implementar el Diseño FrontEnd</option> 
            <option value="Espitia">Php Avanzado</option>
            <option value="Forero">Realizar el seguimiento al desarrollo del proyecto</option>
            <option value="Galindo">Desarrollar y gestionar bases de datos II</option> 
        </Select>


        <button id="enviarMaestro">Conocer</button>
    </div>
</div>

    <script src="../js/maestro.js"></script>
</body>
</html>