<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="contenido-grid">
        <div class="juego1">
         
                <input id="palabra" type="text" placeholder="Ingrese cualquier palabra" required>
                <br>
                <br>
                <div class="opciones-palabra">
                    <button onclick="longitud()">Longitud palabra</button>
                  
                    <button onclick="mayus()">Mayusculas</button>
                  
                    <button onclick="minus()">Minúsculas</button>
                    
                    <button onclick="first()">Primera letrar</button>
                </div>
          
            
           
            
        </div>
    </div>





    <script src="../js/app.js"></script>
</body>
</html>